html, body {
    height: 100%;
    margin: 0px;
}
  

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat/montserrat-regular-webfont.woff2');
    src: url('../fonts/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat/montserrat-semibold-webfont.eot');
    src: url('../fonts/montserrat/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-semibold-webfont.woff') format('woff'),
         url('../fonts/montserrat/montserrat-semibold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat/montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans/opensans-regular-webfont.eot');
    src: url('../fonts/open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nixie_oneregular';
    src: url('../fonts/nixie/nixieone-webfont.eot');
    src: url('../fonts/nixie/nixieone-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nixie/nixieone-webfont.woff2') format('woff2'),
         url('../fonts/nixie/nixieone-webfont.woff') format('woff'),
         url('../fonts/nixie/nixieone-webfont.ttf') format('truetype'),
         url('../fonts/nixie/nixieone-webfont.svg#nixie_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.full-height {
    background: linear-gradient(180deg, #0C1C56 0.2%, #414376 100%);
    height: 100%;
    padding: 30px;
    overflow: hidden;
    position: relative;
    vertical-align: baseline;
}

.m-content{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    background: chartreuse;
    vertical-align: baseline;
    background: #27335F;
    border-radius: 15px;
    padding: 0;
    overflow: hidden;
    
}
.navbar {

    display: inline-block !important;
}

.app {
    color: aqua;
}


.box {
    height: 50px;
    width: 50px;
    background-color: black;
}

.nav-col{
    padding: 0 !important;
    height: 100% !important;
}

.nav-col .navbar{
    text-align: center;
    height: 100%;
    background: #FB5D42 !important;
    font-family: 'montserratregular';
    border-radius: 15px 0 0 15px;
    
}
.nav-item{
    font-size: 14px;
    
}
.navbar-nav .nav-item .nav-link  {
    color: #fffec2 !important;
}
.img-nav{

    max-width: 100%;
    height: auto;
    padding: 5px;
}

.image-profile{
    /*height: 90%;*/
    margin-left: -50%;
}

.content-profile{
    position: relative;
    top: 60%;
    left: 10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.content-profile .welcome-app {
    font-family: 'open_sansregular';
    color: #fffec2;
}

.hi-app {
    font-family: 'nixie_oneregular';
    color: #fffec2;
}
.name-app {
    font-family: 'open_sansregular';
    color: #FB5D42;
    font-size: 58px;
    line-height: 79px;
    letter-spacing: 0.08em;
}

#comment {
    font-family: Nixie One;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.08em;

    color: #FFFEC2;
}

.name-footer{
    font-family: 'montserratsemibold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140.62%;
    color: #4D60A5;
    text-align: right;
}

.icon-footer{
    width: 24px;
    height: 24px;
    left: calc(50% - 32px/2 - 443px);
    top: 770px;

}

.align-right{
    text-align: right;
}
.content-icon-footer{
    position: relative;
    top: 50%;
    left: 5%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-main{
    background: #FFFEC2 !important;
    border-radius: 30px !important;
    width: 100%;
    height: 45px;
    font-family: "montserratbold";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333F6A !important;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-color: #fdf7c2 !important;
}

.margin-button{
    padding-top: 15px;
}

.btn-main:hover{
    background: #FB5D42 !important;
    color: #fdf7c2 !important;
    border-color: #FB5D42 !important;

}

.btn-width {
    width: 40%;

}

#pwait {
    /*display: none;*/
      visibility:hidden;
    
}
#image-about{
    display: none;
}

.c-orange{
    color: #FB5D42 !important;  
}

.about-app{
    font-family: 'nixie_oneregular';
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 140.62%;
    color: #FFFEC2;
}

.about-me{
    font-family: 'montserratregular';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140.62%;
    color: #FFFEC2;
}

.about-ul{
    list-style: none;
    font-family: 'montserratbold';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140.62%;
    color: #FFFEC2;
}

.contact-ul{
    list-style: none;
    font-family: 'montserratbold';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140.62%;
    color: #FFFEC2;

    margin-top: 15px;
}

.contact-ul .value{
    font-family: 'montserratregular';
    font-size: 14px;
}

.about-ul .value{
    font-family: 'montserratregular';
    font-size: 14px;
    font-weight: normal;

}

.about-ul li{
    margin-bottom: 16px;
}

.disableScroll{
    overflow-y:hidden;
    overflow-x:hidden;
}

.max-height{
    height: 100%;
}

.sub-text{
    font-family: "montserratbold";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140.62%;
    color: #FFFEC2;
}
.form-control{
    border: 0 !important;
    border-bottom: 1px solid #FFFEC2 !important;
    outline: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    color: #FFFEC2 !important;
    font-family: 'montserratregular';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    
}
.form-group>label {
    bottom: 34px;
    position: relative;
    background-color: transparent;
    padding: 0px 5px 0px 5px;
    font-size: 1.1em;
    transition: 0.2s;
    pointer-events: none;
    color: #FFFEC2 !important;
    font-family: 'montserratregular';
  }
  
  .form-control:focus~label {
    bottom: 55px;
    color: #FFFEC2 !important;

    font-family: 'montserratregular';

  }

.form-control:focus {
    outline: none !important;
    color: #FB5D42 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;

    border-bottom: 1px solid 3#FFFEC2 !important;
    
}
  
.form-control:valid~label {
    bottom: 55px;
}
  
.icon-contact{
    width: 48px;
    height: 48px;
    left: calc(50% - 32px/2 - 443px);
    top: 770px;

}

dt {
    font-weight: bold;
}
  
dl {
    margin-bottom: 50px;
}
  
#bug:target {
    outline: 4px solid #ccc;
}
  
  /**
   * tab panel widget
   */
.tabPanel-widget {
    position: relative;  /* containing block for headings (top:0) */
    background: transparent;
    font-family: "montserratregular";
    width: 100%;
}
  
  /**
   * because labels come first in source order - we use z-index to move them in front of the headings
   */
.tabPanel-widget > label {
    position: absolute;
    z-index: 1;
}


  /**
   * labels and headings must share same values so grouping declarations in this rule prevents async edits (risk of breakage)
   * line-height == height -> vertical centering
   * the width dictates the offset for all headings but the first one: left offset = width * number of previous heading(s)
   * note that width and offset of label/heading pair can be customized if necessary
   */
  
  .tabPanel-widget > label,
  .tabPanel-widget > h2 {
    font-size: 1.1em;
    width: 9em;
    height: 2em;
    line-height: 2em;
  }
  
  /**
   * position:relative is for the markers (the down arrow in tabs)
   */
  .tabPanel-widget > h2 {
    position: relative;
    margin: 0;
    text-align: center;
    background: transparent;
    color: #f45b41;
  }
  
  .tabPanel-widget > label {
    border-right: none;  
  }
  
  /**
   * all first level labels and headings after the very first ones 
   */
  .tabPanel-widget > label ~ label,
  .tabPanel-widget > h2 ~ h2 {
    position: absolute;
    top: 0;
  }
  
  
  /**
   * We target all the label/heading pairs
   * we increment the :nth-child() params by 4 as well as the left value (according to "tab" width)
   */
  
  .tabPanel-widget label:nth-child(1),
  .tabPanel-widget h2:nth-child(3) {
    left: 0em;
  }
  
  .tabPanel-widget label:nth-child(5),
  .tabPanel-widget h2:nth-child(7) {
    left: 6em;
    border-right: none;
  }
  
  .tabPanel-widget label:nth-child(9),
  .tabPanel-widget h2:nth-child(11) {
    left: 18em;
  }
  
  /**
   * we visually hide all the panels
   * https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
   */
  .tabPanel-widget input + h2 + div {
    position: absolute !important;
  /*  clip: rect(1px, 1px, 1px, 1px);*/
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
  }
  /**
   * we reveal a panel depending on which control is selected 
   */
  .tabPanel-widget input:checked + h2 + div {
    position: static !important;
    padding: 1em !important;
    height: auto !important; 
    width: auto !important; 
  }
  
  /**
   * shows a hand cursor only to pointing device users
   */
  .tabPanel-widget label:hover {
    cursor: pointer;
  }
  
  .tabPanel-widget > div {
    background: transparent;
    color: white;
    padding: 1em;
  }
  
  /**
   * we hide radio buttons and also remove them from the flow
   */
  .tabPanel-widget input[name="tabs"] {
    opacity: 0;
    position: absolute;
  }
  
  
  /** 
   * this is to style the tabs when they get focus (visual cue)
   */
  
  .tabPanel-widget input[name="tabs"]:focus + h2 {
    outline: 1px dotted #000;
    outline-offset: 10px;
  }
  
  
  /**
   * reset of the above within the tab panel (for pointing-device users)
   */
  .tabPanel-widget:hover h2 {
    outline: none !important;
  }
  
  /**
   * visual cue of the selection
   */
  .tabPanel-widget input[name="tabs"]:checked + h2 {
    background: transparent;
    z-index: 3;
    color: #fdf7c2;
  }
  
  /**
   * the marker for tabs (down arrow)
   */
  .tabPanel-widget input[name="tabs"]:checked + h2:after {
    content: '';
    margin: auto;
    position: absolute;
    bottom: 0px;
    left: -70px;
    z-index: -1;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    width: 30px;
    height: 30px;
    border: 1px solid #f45b41;
    background: #f45b41;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /**
   * Make it plain/simple below 45em (stack everything)
   */
  @media screen and (max-width: 45em) {
    
    /* hide unecessary label/control pairs */
    .tabPanel-widget label,
    .tabPanel-widget input[name="tabs"] {
      display: none;
    }
    
    /* reveal all panels */
    .tabPanel-widget > input + h2 + div {
      display: block !important;
      position: static !important;
      padding: 1em !important;
      height: auto !important; 
      width: auto !important; 
    }
    
    /* "unstyle" the heading */
    .tabPanel-widget h2 {
      width: auto;
      position: static !important;
      background: #999 !important;
    }
    
    /* "kill" the marker */
    .tabPanel-widget h2:after {
      display: none !important;
    }
  
  }

.p-bold{
    font-family: "montserratregular";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140.62%;
    color: #FFFEC2;
}

.hr-yellow{
    border-top: 2px solid rgb(253, 247, 194) !important;
}

.checked {
    color: #FB5D42;
}

.title-skill{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140.62%;
    color: #FFFEC2;
    font-family: "montserratbold";

    margin-bottom: 0rem !important;

}

.navbar-nav li.active > a {
	background: linear-gradient(270deg, rgba(63, 66, 117, 0.99) 0%, rgba(39, 51, 95, 0.54) 110.08%);
    color: #fff;
    border-radius: 0px 0 0 0px;;
    
}

.navbar{
    padding: 0 !important;
}

section{
    font-family: "montserratregular";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140.62%;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
    color: #FFFEC2;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
    z-index: 3;
    position: relative;
}

.img-portafolio{
    width: 370px;
    height: auto;
}
.rombo::after {
    content: '';
    position: absolute;
    bottom: 375px;
    left: 22px;
    z-index: -1;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    width: 30px;
    height: 30px;
    border: 1px solid #f45b41;
    background: #f45b41;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.my-nav .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: transparent !important;
}


#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:after{
    content: '';
    position: absolute;
    bottom: 375px;
    left: 22px;
    z-index: -1;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    width: 30px;
    height: 30px;
    border: 1px solid #f45b41;
    background: #f45b41;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:after{
    content: '';
    position: absolute;
    bottom: 7px;
    left: 7px;
    z-index: -1;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    width: 30px;
    height: 30px;
    border: 1px solid #f45b41;
    background: #f45b41;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#content-col{
    height: 90% !important;
    overflow-y: auto !important; 
    overflow-x: hidden !important;
}



@media (max-width: 768px) { 
    .full-height{
        background: linear-gradient(180deg, #0C1C56 0.2%, #414376 100%);
        height: 100%;
        padding: 0px;
        position: relative;
        vertical-align: baseline;
    }
    .img-nav-xs{
        width: 50%;
    }
    .img-span-xs {
        display: block;
        word-wrap: break-word;
        font-size: 14px;
    }
    .nav-link{
        padding: 15px !important;
    }
    .nav-col{
        height: auto !important;
    }
    .m-content{
        overflow: auto !important;
    }
    .full-height{
        overflow: auto !important;
    }
    .disableScroll{
        overflow-y: auto !important;
        overflow-x: auto !important; 
    }
    #content-col{
        height: auto !important; 
        overflow-y: auto !important; 
        overflow-x: auto !important;
    }
 }


 /* Breakpoint XS */
@media (max-width: 575px)
{
    .hidden-xs-down
    {
        display: none !important;
    }
    .hidden-sm-down
    {
        display: block !important;
    } 

}

/* Breakpoint SM */
@media (min-width: 576px)
{
    .hidden-sm-down
    {
        display: none !important;
    } 
    .hidden-xs-down
    {
        display: block !important
    }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px)
{
   
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px)
{
   
}

/* Breakpoint XL */
@media (min-width: 1200px)
{

}